.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 10px 20px; 
    border-bottom: 1px solid #ccc;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 5px;
    height: 120px;
    margin-bottom: 10px;
    cursor: pointer;
}


.title {
    font-size: 1.2em;
    padding: 0 20px;
    max-width: 580px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
}

.amount {
    width: 40px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}


.amountBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}


.price .amountBlock button {
    position: relative;
    outline: none;
    border: none;
    background: none;
    font-size: 1.6em;
    font-weight: 500;
    margin: 5px;
    width: 30px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

.price .amountBlock button:hover {
    background: #ccc;
    border-radius: 50%;
}
.price .amountBlock button:active {
    box-shadow: 0 0 10px #ccc, 
    0 0 30px #ccc, 
    0 0 70px #ccc,
    0 0 150px #ccc;;
    opacity: 1;
}


.price span {
    font-size: 1.3em;
}

.summ {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 1.4em;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    gap: 20px;
}

.message div {
    font-size: 1.5em;
}


.btn {
    font-size: 1em;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: #2ECC71;
    border-radius: 5px;
    margin-left: 10px;
    opacity: 0.9;
    transition: 0.25s;
}

.btn:nth-child(2) {
    background: #dd57a5;
}

.btn:hover {
    opacity: 1;
    letter-spacing: 1px;
    box-shadow: 0 0 15px #2ECC71;
}

.btn:nth-child(2):hover {
    box-shadow: 0 0 15px #dd57a5;
}

.btn:active {
    box-shadow: 0 0 15px #2ECC71, 0 0 35px #2ECC71, 0 0 75px #2ECC71;
}

.btn:nth-child(2):active {
    box-shadow: 0 0 15px #dd57a5, 0 0 35px #dd57a5, 0 0 75px #dd57a5;
}