.btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background: var(--success);
  padding: 15px;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn span {
  display: block;
  height: 25px;
  width: 25px;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-radius: 5px;
  transform: rotate(45deg);
  transition: 0.25s;
}

.btn:hover {
  box-shadow: 0 0 15px var(--success);
}

.btn:hover span {
  transform: rotate(45deg) translateY(-2px) translateX(-2px);
}

.btn:active {
  box-shadow: 0 0 15px var(--success), 0 0 35px var(--success), 0 0 75px var(--success);
}