.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.price {
    font-weight: bold;
}



