.container {
    position: relative;
}


.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}


.title {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.filter input,
.filter select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.5s;
}

.filter input:focus,
.filter select:focus {
    box-shadow: 0 5px 10px #ccc;
    border: 1px solid #6b6c77;
}

