.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.navigation a {
    margin-left: 20px;
}

.navigation a.active {
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid black;
    transition: 0.2s;
}


.nameShop {
    font-size: 1.4em;
    letter-spacing: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    text-align: center;
    max-width: 900px;
}
.basket {
    position: relative;
}

.count {
    position: absolute;
    font-size: 1em;
    top: -12px;
    /* font-weight: inherit;
    font-family: inherit; */
    left: 60px;
    width: 24px;
    height: 24px; 
    background: #2ECC71;
    border-radius: 50%;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fontSize 0.5s ease-in; 
}
@keyframes fontSize {
    0%{
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.navigation a.active .count {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    top: -14px;
    left: 68px;
}
