.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
}

.navigation a.active {
   font-size: 1.3em;
}

.container {
    margin-top: 65px;
    text-align: center;
}