.modal {
    position: fixed;
    left: 15px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px #ccc;
    background: #ccc;
    font-size: 1em;
    outline: none;
    opacity: 0;
    animation: modal 2s;
}


@keyframes modal {
    0% {
        left: -200px;
    }

    20% {
        left: 30px;
        opacity: 1;
    }

    50% {
        left: 15px;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}